@model List<QMS.Models.IP>

@{
    ViewBag.Title = "IpSetting";
}
<h2>IP Setting</h2>
@using (Html.BeginForm("IpSetting", "Admin"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="height: 100%; text-align: center;">
        <legend>Login Form</legend>
        @for (int i = 0; i < Model.Count; i++ )
        {
            <ol>

                <li style="display: inline-block;">
                    @Html.HiddenFor(modelItem => modelItem[i].Id)
                    @Html.LabelFor(modelItem => modelItem[i].Name,Model[i].Name)
                    @Html.TextBoxFor(modelItem => modelItem[i].IP_Address)
                </li>
            </ol>
        }
    </fieldset>
    <div>
        
            <input type="submit" value="SAVE"  />
      
    </div>
}

