@model QMS.Models.Config

@{
    ViewBag.Title = "Token Setting";
}

<h2>Token Setting</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset  style="height:100%;text-align:left; margin-left:200px">
        <legend>Login Form</legend>
        <ol>
            <li style="display:inline-block; ">
               @Html.LabelFor(m => m.Value, new {@class="lbl" })
                @Html.TextBoxFor(m => m.Value, new {@class="txt" })
            </li>

        </ol>
     </fieldset>
    <div>
         <form method="post">
        <input type="submit" value="SAVE" onclick="@("window.location.href='" + @Url.Action("TokenSetting", "Admin",new{token=Model.Value}) + "'")    ;"  />
             </form>
    </div>
}