@model QMS.Models.Patient

@{
    ViewBag.Title = "Register";
}

<h2>Patient Registration</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset style="height:100%; width:100%; text-align:left; margin-left:200px" >
        <legend>Registration Form</legend>
        <ol >
            <li style="display:inline-block">
              @Html.LabelFor(m => m.PatientName, new {@class="lbl" })
                @Html.TextBoxFor(m => m.PatientName, new {@class="txt" })
                </li>
            </ol>
           <ol >    
              <li style="display:inline-block">
               @Html.LabelFor(m => m.PatientId, new {@class="lbl" })
                  @Html.TextBoxFor(m => m.PatientId, new {@class="txt" })
              
           </li>
        </ol>   
    </fieldset>
    <div>
        <input type="submit"  value="Register" onclick="@("window.location.href='" + @Url.Action("Register", "Registration", new { pname=Model.PatientName,pid = Model.Id,time=DateTime.Now.ToString() }) + "'")    ;" />
         </div>
}