@model QMS.Models.Patient

@{
    ViewBag.Title = "Patient Selection";
}

<h2>Patient Selection</h2>
<script src="~/Scripts/jquery-1.7.1.min.js">
<script type="text/javascript">
 
     setInterval(function timedRefresh(timeoutPeriod) {
       setTimeout(function() {
        location.reload(true);
    }, timeoutPeriod);
    @*window.setInterval('@Url.Action("PatientSelection", "Announcement")',2000),*@
            

    });
    </script>

  
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @*<body onload="JavaScript:timedRefresh(2000);">*@
    <fieldset >
        
        <legend>Patient Selection Form</legend>
        <ol >
            <li>
                <h1 >@ViewBag.Message 
                      
                </h1> 
            </li>
           
        </ol>
        @{ 
    if (ViewBag.No_of_Pateints > 0)
    {
        <input id="newbtn" type="button" value="NEW" onclick="@("window.location.href='" + @Url.Action("Announce", "Announcement") + "'")    ;" />
    }
    else
    {
                 <input type="button" id="dnewbtn" value="NEW" disabled="disabled"  style="height:30px;  width:120px;" />
             
    }
         } 
          
        
    </fieldset>@*
        </body>*@
}